<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cars - List Car</title>

<!-- Boostrap 5 -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!-- Boostrap 5 -->

<!-- Font Awesome -->
<link href="./static/assets/fontawesome/css/all.css" rel="stylesheet" />
<!-- Font Awesome -->

<!-- Style Css -->
<link rel="stylesheet" href="./static/css/style.css">
<!-- Style Css -->


<!-- Font IBM Plex Sans & Rubik-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;700&family=Rubik:wght@300;400&display=swap" rel="stylesheet">
