<!-- SideNav -->
<div class="sidenav text-center">
    <div class="navbar-brand "></div>
    <div class="link" onclick="sideNav('Dasboard','Main')">
        <span style=" cursor: pointer; ">
            <i class="fa-light fa-home fa-2xl " style="color: white; "></i>
            <p class="mt-1" style="margin-bottom: 0;">Dashboard</p>
        </span>
    </div>
    <div class="link active py-2 " onclick="sideNav('Cars','List Car')">
        <span style="cursor: pointer;">
            <i class="fa-light fa-car-side fa-2xl" style="color: white;"></i>
            <p class=" mt-1">Cars</p>
        </span>
    </div>
</div>

<!-- Sidenav Extend -->
<div id="mySidenav" class="sidenav-extend">
    <div class="navbar-brand "></div>
    <div class="parent-link">Cars</div>
    <div class="child">
        <!-- <a class="child-link" href="">List Mobl</a> -->
    </div>
</div>

<main id="main">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
        <div class="container-fluid">
            <!-- Humberger -->
            <span style="cursor:pointer; display: block;" onclick="humberger('Cars','List Car')">
                <img src="static/assets/images/fi_menu.png" alt="">
            </span>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <div class="input-group ">
                        <input type="text" class="form-control search-icon" placeholder="Search" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <button type="button" class="btn btn-outline-primary btn-search">Search</button>
                    </div>
                    <img src="static/assets/images/user_photo.png" class="ms-4 me-2" alt="">

                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle user-name" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Unis Badri
                            </a>
                                <ul class="dropdown-menu dropdown-menu-end mt-2">
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
