body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    background-color: #E5E5E5;
}

.sidenav {
    height: 100%;
    width: 70px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #0D28A6;
    overflow-x: hidden;
}

.sidenav .link {
    margin-top: 30px;
}

.sidenav .link.active {
    margin-top: 10px;
}

.sidenav .link span {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.sidenav .link.active {
    background-color: rgba(255, 255, 255, 0.3);
    height: 64px
}

.sidenav .link-active span {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

.sidenav .navbar-brand {
    width: 34px;
    height: 34px;
    background: #CFD4ED;
    margin: 18px;
}

.sidenav-extend {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: margin-left .5s;
    margin-left: 0;
    padding: 15px 0px;
}

.sidenav-extend .navbar-brand {
    width: 100px;
    height: 34px;
    margin-left: 30px;
    background: #CFD4ED;
}

.sidenav-extend .parent-link {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #8A8A8A;
    margin: 55px 0px 0px 30px;
}

.sidenav-extend .child {
    margin-top: 25px;
    height: 42px;
    background-color: #CFD4ED;
    padding: 10px 0px 0px 30px;
}

.sidenav-extend .child .child-link {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #151515;
    text-decoration: none;
}

#main {
    transition: margin-left .5s;
    margin-left: 70px;
}

.navbar-light .user-name {
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: black;
}

.navbar-light .user-name {
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: black;
}

.navbar-light .form-control {
    width: 174px;
    font-size: 13px;
}

.navbar-light .search-icon {
    padding-left: 45px;
    background: url("../assets/images/fi_search.png") no-repeat left;
    background-position: 12px;
}

.btn-search {
    border: 2px solid #0D28A6;
    border-radius: 2px;
    font-family: 'IBM Plex Sans';
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #0D28A6;
}

.btn-search:hover {
    background-color: #4867f377;
}

.section-content .btn-add-car {
    background: #0D28A6;
    border-radius: 2px;
}

.section-content .btn-add-car p {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
}

.breadcrumb .breadcrumb-item a {
    font-family: 'IBM Plex Sans';
    font-weight: 700;
    font-size: 16px;
    color: #000000 !important;
    line-height: 18px;
    text-decoration: none;
}

.breadcrumb .breadcrumb-item.active {
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 16px;
    color: #222222;
}

.section-content h2 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.section-content h3 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
}


.section-content h4 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
}

.section-content p {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
}

.section-content .btn-outline-option.disabled {
    background: #ffffff;
    opacity: 0.5;
    cursor: not-allowed;
  }

.section-content .btn-outline-option {
    background-color: #CFD4ED;
    border: 1px solid #0D28A6;
    box-sizing: border-box;
    border-radius: 2px;
    font-weight: bold;
    color: #0D28A6;
    cursor: pointer;
}

.section-content .btn-outline-option:hover {
    background: #ffffff;
}

.section-content .btn-outline-option.active {
    border: 1px solid #0D28A6;
    box-sizing: border-box;
    border-radius: 2px;
}

.section-content .card-cars {
    padding: 24px;
    max-width: 400px;
    height: 446px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.section-content .card-cars .action .btn-outline-danger {
    width: 100%;
    border-radius: 2px;
}

.section-content .card-cars .action .btn-outline-danger:hover p {
    color: white;
}

.section-content .card-cars .action .btn-success {
    width: 100%;
    background: #5CB85F;
    border-radius: 2px;
    border-color: #53ad56;
}

.section-content .card-cars .action .btn-success:hover {
    background-color: #439b46;
}

.section-content .card-cars .action .text-delete {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #FA2C5A;
}

.section-content .card-cars .action .text-edit {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
}

.modal-content {
    width: 75%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 24px 32px;
}

.modal-content .modal-body h3 {
    margin-top: 24px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.modal-content .modal-body p {
    margin-top: 16px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.modal-content .modal-body .btn-modal {
    width: 87px;
    height: 36px;
    background: #0D28A6;
    border-radius: 2px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.modal-content .modal-body .btn-modal-cancel {
    width: 87px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #0D28A6;
    border-radius: 2px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #0D28A6;
}

.section-content .card-form {
    margin-top: 16px;
    width: 100%;
    height: auto;
    padding: 14px;
    background: #FFFFFF;
    border-radius: 2px;
}

.section-content .card-form .form-control,
.form-select {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.section-content .card-form .file-upload {
    border: 1px solid #ced4da;
    padding: 6px 12px;
    border-radius: 0.25rem;
    width: 100%;
}

.section-content .card-form .form-label .text-upload {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.section-content .card-form .imageMax {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #8A8A8A;
}

.btn-save {
    background: #0D28A6;
    border-radius: 2px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.btn-save:hover {
    background-color: #193ddb;
    color: #FFFFFF;
}

.btn-update {
    width: 56px;
    height: 36px;
    background: #CFD4ED;
    border-color: transparent;
    border-radius: 2px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.btn-update:hover {
    background: #0D28A6;
    color: #FFFFFF;
}

.btn-submit {
    width: 60px;
    height: 36px;
    background: #0D28A6;
    border-color: transparent;
    border-radius: 2px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.section-content .button-action {
    margin-top: 160px;
    margin-bottom: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
