<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %> 
  </head>

  <body>
    <%- include('../partials/sidenav') %>

      <div class="container-fluid">
        <!-- Breadcrumb -->
        <nav
          style="
            --bs-breadcrumb-divider: url(
              &#34;data:image/svg + xml,
              %3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='currentColor'/%3E%3C/svg%3E&#34;
            );
          "
          aria-label="breadcrumb"
        >
          <ol class="breadcrumb ms-lg-4 mt-lg-4 mb-0">
            <li class="breadcrumb-item"><a href="#">Cars</a></li>
            <li class="breadcrumb-item active"><a href="/">List Car</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add New Car</li>
          </ol>
        </nav>

        <section class="section-content ms-lg-4 mt-lg-4">
          <!-- Title -->
          <div class="d-flex justify-content-between">
            <h2 class="mb-0 align-self-center">Add New Car</h2>
          </div>

          <!-- Content Cars -->
          <div class="card-form">
            <form action="/api/v1/cars" method="POST" enctype="multipart/form-data">
                <div class="row mb-3">
                    <label for="inputName" class=" col-lg-2 col-sm-12 col-form-label">Nama<span style="color: red;">*</span>
                    </label>
                    <div class="col-lg-5 col-sm-12 ">
                        <input type="text" class="form-control" id="inputName" name="name" placeholder="Avanza" required>
                    </div>
                </div>
                <div class="row mb-3 ">
                    <label for="inputForm " class="col-lg-2 col-sm-12 col-form-label ">Sewa Per Hari<span style="color: red;">*</span>
                    </label>
                    <div class="col-lg-5 col-sm-12 ">
                        <input type="text" class="form-control" id="inputPrice" name="price" placeholder="Rp 0--" required>
                    </div>
                </div>
                <div class="row mb-3 ">
                    <label for="inputForm " class="col-lg-2 col-sm-12 col-form-label ">Ukuran<span style="color: red;">*</span>
                    </label>
                    <div class="col-lg-5 col-sm-12">
                        <select class="form-select" id="typeId" name="typeId" aria-label="Default select example" placeholder="Small" required>
                            <option value="" disabled hidden selected class="option-hidden">Pilih</option>
                            <option value="1">Small</option>
                            <option value="2">Medium</option>
                            <option value="3">Large</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3 ">
                    <label for="inputForm " class="col-lg-2 col-sm-12 col-form-label ">Foto<span style="color: red;">*</span>
                    </label>
                    <div class="col-lg-5 col-sm-12">
                        <label for="imageCar" class="form-label file-upload mb-0 d-flex justify-content-between">
                            <p class="text-upload mb-0">IMG/5/2022/001</p>
                            <i class="fa-regular fa-upload fa-sm ms-auto align-self-center" style="color:#8A8A8A;"></i>
                        </label>
                        <div class="input-group">
                            <input id="imageCar" name="image_car" accept="image/png, image/jpeg" type="file" style="display: none;" class="form-control customsearchgroup" aria-describedby="basic-addon1" required>
                        </div>
                        <p class="imageMax mt-2 mb-0">File size max. 2MB</p>
                    </div>
                </div>
        </div>
        <div class="button-action d-flex justify-content-lg-start">
            <a href="/" class="btn btn-outline-primary btn-search me-3">Cancel</a>
            <button type="submit" class="btn btn-outline-primary btn-submit">Save</button>
        </div>
        </form>
        </section>
      </div>
    </main>

    <!-- Modal -->
    <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-dialog-centered d-flex justify-content-center"
      >
        <div class="modal-content text-center">
          <div class="modal-body">
            <img src="assets/images/img-BeepBeep.png" alt="" />
            <h3>Menghapus Data Mobil</h3>
            <p>
              Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin
              menghapus?
            </p>
            <div class="d-flex justify-content-center">
              <button type="button" class="btn btn-modal me-3">Ya</button>
              <button
                type="button"
                class="btn btn-modal-cancel"
                data-bs-dismiss="modal"
              >
                Tidak
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('../partials/footer') %>
  </body>
</html>
