<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>

    <%- include('../partials/sidenav') %>


    <div class="container-fluid">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb ms-lg-4 mt-lg-4 mb-0">
                <li class="breadcrumb-item"><a href="#">Cars</a></li>
                <li class="breadcrumb-item active" aria-current="page">List Car</li>
            </ol>
        </nav>

        <section class="section-content ms-lg-4 mt-lg-4">
            <div class="d-flex justify-content-between">
                <h2 class="mb-0 align-self-center">List Car</h2>
                <a href="/addCars" class="btn btn-add-car d-flex justify-content-center me-3">
                    <i class="fa-solid fa-plus" style="color:white"></i>
                    <p class="align-self-center mb-0 ms-3 ">Add New Car</p>
                </a>
            </div>
            <div class="d-flex justify-content-start my-4">
                <button type="button" class="btn btn-outline-option active me-3">All</button>
                <button type="button " class="btn btn-outline-option disabled me-3">Small</button>
                <button type="button " class="btn btn-outline-option disabled me-3">Medium</button>
                <button type="button " class="btn btn-outline-option disabled me-3">Large</button>
            </div>

            <div class="row d-flex justify-content-center mb-5">
                <!-- For Loop Mobil -->
                <% for (let i=0; i < cars.length; i++) { %>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                    <div class="card-cars">
                        <div class="cars-image">
                            <img class="img-fluid" src="./static/assets/images/avanza.png" alt="">
                        </div>

                        <h4 class="cars-type mt-3 mb-0"><%= cars[i].name %> / <%= cars[i].size.size %></h4>
                        <h3 class="cars-rent mt-2 mb-0">Rp <%=cars[i].price%> / hari</h3>
                        <div class="cars-info d-flex justify-content-start mt-2">
                            <i class="fa-thin fa-clock align-self-center"></i>
                            <p class="ms-2 mb-0 align-self-center">Updated
                                <%=moment(cars[i].updatedAt).format('MMMM Do YYYY, h:mm:ss a');%></p>
                        </div>
                        <div class="action d-flex justify-content-center mt-3">
                            <button type="button"
                                class="btn btn-outline-danger d-flex justify-content-center me-2 py-2 px-4"
                                data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= cars[i].id%>">
                                <i class="fa-regular fa-trash align-self-center me-3"></i>
                                <p class="mb-0 text-delete align-self-center">Delete</p>
                            </button>
                            <a href="/editCars/<%=cars[i].id%>"
                                class="btn btn-success d-flex justify-content-center  py-2 px-4">
                                <i class="fa-solid fa-pen-to-square align-self-center me-3"></i>
                                <p class="mb-0 text-edit align-self-center">Edit</p>
                            </a>
                        </div>
                    </div>
                </div>
                <% } %>
                <!-- For Loop Mobil -->
            </div>
        </section>
    </div>
    </main>

    <!-- Modal -->
    <% for (let i=0; i < cars.length; i++) { %>
    <div class="modal fade" id="staticBackdrop<%= cars[i].id%>" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
            <div class="modal-content text-center">
                <div class="modal-body">
                    <img src="static/assets/images/img-BeepBeep.png" alt="">
                    <h3>Menghapus Data Mobil</h3>
                    <p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
                    <div class="d-flex justify-content-center">
                        <form action="/deleteCars/<%= cars[i].id%>?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-modal me-3">Ya</button>
                        </form>
                        <button type="button" class="btn btn-modal-cancel " data-bs-dismiss="modal">Tidak</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>


    <%- include('../partials/footer') %>


</body>

</html>