<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <%- include('../partials/sidenav') %>

    <div class="container-fluid">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb ms-lg-4 mt-lg-4 mb-0">
                <li class="breadcrumb-item"><a href="/">Cars</a></li>
                <li class="breadcrumb-item active" aria-current="page">Update Car Information</li>
            </ol>
        </nav>

        <section class="section-content ms-lg-4 mt-lg-4">
            <div class="d-flex justify-content-between">
                <h2 class="mb-0 align-self-center">Update Car Information</h2>
                </a>
            </div>

            <div class="card-form"> 
                <form action="/api/v1/cars/<%= cars.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="row mb-3">
                        <label for="inputName" class=" col-lg-2 col-sm-12 col-form-label">Nama<span
                                style="color: red;">*</span>
                        </label>
                        
                        <div class="col-lg-5 col-sm-12 ">
                            <input type="text" class="form-control" id="inputName" placeholder="Avanza" name="name"
                                value="<%= cars.name%>">
                        </div>
                    </div>
                    <div class="row mb-3 ">
                        <label for="inputForm " class="col-lg-2 col-sm-12 col-form-label ">Sewa Per Hari<span
                                style="color: red;">*</span>
                        </label>
                        <div class="col-lg-5 col-sm-12 ">
                            <input type="text" class="form-control" id="inputPrice" placeholder="Rp 0--" name="price"
                                value="<%= cars.price%>">
                        </div>
                    </div>
                    <div class="row mb-3 ">
                        <label for="inputForm " class="col-lg-2 col-sm-12 col-form-label ">Ukuran<span
                                style="color: red;">*</span>
                        </label>
                        <div class="col-lg-5 col-sm-12">
                            <select class="form-select" id="typeId" name="typeId" aria-label="Default select example"
                                placeholder="Small">
                                <option value="<%= cars.typeId %>" disabled hidden selected class="option-hidden">
                                    <%= cars.size.size %></option>
                                <option value="1">Small</option>
                                <option value="2">Medium</option>
                                <option value="3">Large</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3 ">
                        <label for="inputForm " class="col-lg-2 col-sm-12 col-form-label ">Foto<span
                                style="color: red;">*</span>
                        </label>
                        <div class="col-lg-5 col-sm-12">
                            <label for="imageCar" class="form-label file-upload mb-0 d-flex justify-content-between">
                                <p class="text-upload mb-0">IMG/5/2022/001</p>
                                <i class="fa-regular fa-upload fa-sm ms-auto align-self-center"
                                    style="color:#8A8A8A;"></i>
                            </label>
                            <div class="input-group">
                                <input id="imageCar" name="imageCar" accept="image/png, image/jpeg" type="file"
                                    style="display: none;" class="form-control customsearchgroup"
                                    aria-describedby="basic-addon1">
                            </div>
                            <p class="imageMax mt-2 mb-0">File size max. 2MB</p>
                        </div>
                    </div>
                    <div class="button-action d-flex justify-content-lg-start">
                        <a href="/" class="btn btn-outline-primary btn-search me-3">Cancel</a>
                        <button type="submit" class="btn btn-outline-primary btn-update">Save</button>
                    </div>
                </form>
            </div>



            <%- include('../partials/footer') %>

</body>

</html>